<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.pinea.pms.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="club.pinea.pms.model.User" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userName" property="username" jdbcType="VARCHAR" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="phoneNo" property="phoneno" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="solt" property="solt" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="lastLoginIp" property="lastloginip" jdbcType="VARCHAR" />
    <result column="lastLoginTime" property="lastlogintime" jdbcType="BIGINT" />
    <result column="createTime" property="createtime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userName, nickName, phoneNo, password, solt, status, lastLoginIp, lastLoginTime, 
    createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pms_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pms_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="club.pinea.pms.model.User" >
    insert into pms_users (id, userName, nickName, 
      phoneNo, password, solt, 
      status, lastLoginIp, lastLoginTime, 
      createTime)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{phoneno,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{solt,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{lastloginip,jdbcType=VARCHAR}, #{lastlogintime,jdbcType=BIGINT}, 
      #{createtime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="club.pinea.pms.model.User" >
    insert into pms_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        userName,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="phoneno != null" >
        phoneNo,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="solt != null" >
        solt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="lastloginip != null" >
        lastLoginIp,
      </if>
      <if test="lastlogintime != null" >
        lastLoginTime,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="solt != null" >
        #{solt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="lastloginip != null" >
        #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null" >
        #{lastlogintime,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="club.pinea.pms.model.User" >
    update pms_users
    <set >
      <if test="username != null" >
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="phoneno != null" >
        phoneNo = #{phoneno,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="solt != null" >
        solt = #{solt,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="lastloginip != null" >
        lastLoginIp = #{lastloginip,jdbcType=VARCHAR},
      </if>
      <if test="lastlogintime != null" >
        lastLoginTime = #{lastlogintime,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.pinea.pms.model.User" >
    update pms_users
    set userName = #{username,jdbcType=VARCHAR},
      nickName = #{nickname,jdbcType=VARCHAR},
      phoneNo = #{phoneno,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      solt = #{solt,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      lastLoginIp = #{lastloginip,jdbcType=VARCHAR},
      lastLoginTime = #{lastlogintime,jdbcType=BIGINT},
      createTime = #{createtime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>